*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}
body{
    background-color: black;
}

/*Navbar Section*/
.navbar{
    height: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 10px 20px;
    transition: all 5sec ease;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100vw;
    /* border: 2px solid white; */
    
    
}
.navbar.scrolled {
  background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 0.5px solid rgba(106, 146, 167, 0.4);
    
    
}


.logo{
    font-size: 2vw;
    font-family: orbitron;
    font-weight: bold;
    color: rgb(0, 200, 255);
    text-shadow: 10px;
    margin-left:3vw;
    transition: all 0.30s ease-in-out;

    
}
.logo:hover {
      transform: scale(1.1); /* zoom in */
      text-shadow: 0 0 9px rgb(0, 200, 255);
}
.nav-ele{
    list-style: none;
    display: flex;
    gap: 3vw;
    margin-right: 5vw;

}
.nav-ele li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-family: Science Gothic;
    transition: all 0.30s ease-in-out;
}
.nav-ele li a:hover{
    color: #00ffff;
    text-decoration: underline;
    transform: scale(1.1);
}
/*Home Section*/
#home{
    height: 42vw;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
    

}
.intro{
    height: 39vw;
    width: 50vw;
    background-color: #000000;
    margin-top: 12vh;
    margin-left:4vw
    
}
#hi{
    font-size: 5vw;
    font-family: orbitron;
    font-weight: 900;
    color: white;
}
#name{
    color: #00ffff;
    font-family: orbitron;
}
#heding1{
    font-size: 3vw;
    font-family: sans-serif;
    color: white;
}
#heding2{
    font-size: 2vw;
    font-family: sans-serif;
    color: white;
}

#btn_1{
    background-color: #00ffff;
    height: 3vw;
    width: 9vw;
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #e8ecec71;
    outline:none;
    transition: all 0.30s ease;
    margin-left: 9px;
    cursor: pointer;

}
#btn_1:hover{
    box-shadow: 0 0 15px #00ffff,
    inset 0 0 10px #00ffff;
    text-shadow: 0 0 10px #fff;
}
#btn_2{
    background-color: transparent;
    color: #00ffff;
    height: 3vw;
    width: 9vw;
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: bold;
    outline:none;
    border-radius: 10px;
    border: 2px solid #00ffff;
    margin-left: 4rem;
    transition: all 0.30s ease;
    cursor: pointer;
}
#btn_2:hover{
    box-shadow: 0 0 15px #00ffff,
    inset 0 0 10px #00ffff;
    text-shadow: 0 0 10px #00ffff;
}
.icon{
    height: 6rem;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 2vw;
    margin-top: 4px;
    

}
.linkedin{
    margin-left: 1rem;
    color: #ffffff;
    font-size: 2vw;
    transition: all 0.30s ease;
}
.linkedin:hover {
      color: #00ffff;
      transform: scale(1.1); 
      text-shadow: 0 0 5px #00ffff;
}
.github{
    color: #ffffff;
    font-size: 2vw;
    transition: all 0.30s ease;
}
.github:hover {
    color: #00ffff;
    transform: scale(1.1); /* zoom in */
    text-shadow: 0 0 5px #00ffff;
}
.mail{
    color: #ffffff;
    font-size: 2vw;
    transition: all 0.30s ease;
}
.mail:hover {
    color: #00ffff;
    transform: scale(1.1); /* zoom in */
    text-shadow: 0 0 5px rgb#00ffff;
}
/*profile pic section*/
.pic-box{
    height: 25vw;
    width: 25vw;
    background-color: rgb(0, 0, 0);
    margin-right: 10vw;
    margin-top: 5%;
    display: flex;
    overflow: hidden;
    justify-content:center;
    align-items: center;
    border-radius: 60% ;
    border: 2px solid #00FFFF;
    box-shadow: 0 0 15px #00FFFF;
    animation: shadow 2s infinite alternate; 
    transition: all 0.30s ease-in-out;
}
@keyframes shadow{
    from{
        box-shadow: 0 0 15px 2px #00FFFF;
    }
    to{
        box-shadow: 0 0 60px 10px #00FFFF;
    }
}
.pic-box:hover{
    transform: scale(1.1);
}

/*div1 arrow Section*/
.div1{
    background-color: rgb(0, 0, 0);
    height: 6vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

#arrow-box{ 
    color: rgb(252, 252, 252);
    background:transparent;
    font-size: 20px;
    height: 50px;
    width: 25px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 9px;
    border-radius: 30px;
    animation: arrow-box 2s infinite;
    box-shadow: 0 0 5px #fcfcfc,
    inset 0 0 px #fcfcfc;
    margin-bottom: 5px;
    
    
}
#arrow-box:hover{
    box-shadow: 0 0 10px #00FFFF,
    inset 0 0 5px #00FFFF;
    color: #00FFFF;
    text-shadow: 0 0 5px #00FFFF;
    
}
#arrow{
    text-decoration: none;
    color: white;
}
#arrow:hover{
     
    color: #00FFFF;
    text-shadow: 0 0 5px #00FFFF;
}
@keyframes arrow-box{
    0%,20%,50%,80%,100%{
        transform: translateY(0);
    }40%{
        transform: translateY(-30px);
    }60%{
        transform: translateY(-15px);
    }
}


/*About Section*/
#about{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    
    
}
.abt_title{
    height: 27%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.abt_title h1{
    font-size: 3vw;
    color: white;
    font-family: orbitron;

}
.abt_title h1 span{
    color: #00FFFF;
}
#short_des{
 text-align: center;
 font-size: 1.3vw;
 font-family: sans-serif;
 margin-top: 5px;
color: white;
}
.abt_sec{
    background-color: rgb(0, 0, 0);
    height: 73%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#abt_sec1{
    height: 95%;
    width: 45%;
    margin-left: 4vw;
    background-color: rgb(0, 0, 0);
    font-size: 1.1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: sans-serif;
    color: white;
}

#abt_sec2{
    
    height: 95%;
    width: 45%;
    margin-right: 4vw;
    background-color: rgb(0, 0, 0);
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
#abt_sec2 i{
    font-size: 1.5rem;
    color: #00FFFF;
    
}
#abt_sec2 h3:hover{
    transform: scale(1.1); /* zoom in */
      text-shadow: 0 0 3px #00FFFF;
}
#abt_sec2 h3{
    font-size: 1.6rem;
    color: white;
    margin-left: 1rem;
    transition: all 0.30s ease-in-out;
}
#abt_sec2 p{
    font-size: 1.1rem;
    font-family: sans-serif;
    color: white;
    margin-top: 5px;
    margin-left: 3.5rem;
}
#sec{
    height: 20%;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(106, 146, 167, 0.4);
    
   
}
/*Skills section*/
#skill{
    height: 99vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    
}
#skill h1{
    height: 22vh;
    font-size: 3vw;
    color: white;
    font-family: orbitron;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: end;
}
#skill h1 span{
    color: #00FFFF;
}
#skill p{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1.3vw;
    font-family: sans-serif;
    color: white;
}
.skills{
    height: 78vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}/*technologies*/
.talent{
    height: 28vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(73, 142, 179, 0.4);
    box-shadow: 0 0 15px #00ffff;
}
.talent h2{
    font-family: orbitron;
    color: #00FFFF;
    font-size: 30px;
}
.lang_sec{
  height: 200px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.lang {
  padding: 8px 18px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  font-size: 17px;
  color: #fff;
  transition: 0.3s ease;
  font-family: sans-serif;
}
.lang:hover {
  background: #00c6ff;
  color: #000;
  transform: translateY(-3px);
   box-shadow: 0 0 15px #00ffff;
}
/*---------*/
#contact{
    background-color: rgb(0, 0, 0);
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact h1{
    height: 22vh;
    font-size: 3vw;
    color: white;
    font-family: orbitron;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact h1 span{
    color: #00FFFF;
}
.para p{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.3vw;
    font-family: sans-serif;
    color: white;
    padding-bottom: 1rem;
    
}
.contacts{
    
    height: 50%;
    width: 45%;
    margin-right: 4vw;
    background-color: rgb(0, 0, 0);
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
#cont{
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(106, 146, 167, 0.4);
}
#cont h3 i{
    color: rgba(125, 147, 159, 0.4);
    font-size: 13px;
    margin-left: 1rem;
}

#cont h3{
    color: rgba(106, 146, 167, 0.4);
    font-size: 15px;
    margin-left: 1rem;
}
#cont p{
    color: white;
    margin-left: 2rem;
}
footer{
    height: 10vh;
    width: 100vw;
    background-color: rgba(29, 26, 26, 0.811);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i{
    
    color: white;
}
footer p{
    font-family: sans-serif;
    font-size: 1rem;
    color: white;
}

