*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}
body{
    background-color: black;
}

/*Navbar Section*/
.navbar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    /* padding: 10px 20px; */
    transition: all 5sec ease;
    z-index: 100; 
    position: fixed;
    top: 0;
    width: 100vw;
    
    
    
}
.navbar.scrolled {
  background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 0.5px solid rgba(106, 146, 167, 0.4);
    
    
}

.logo{
    font-size: 2.5rem;
    font-family: orbitron;
    font-weight: bold;
    color: rgb(0, 200, 255);
    text-shadow: 10px;
    margin-left:3%;
    transition: all 0.30s ease-in-out;

    
}
.logo:hover {
      transform: scale(1.1); /* zoom in */
      text-shadow: 0 0 9px rgb(0, 200, 255);
}
.nav-ele{
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-right: 5vw;

}
.nav-ele li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: Science Gothic;
    transition: all 0.30s ease-in-out;
}
.nav-ele li a:hover{
    color: #00ffff;
    text-decoration: underline;
    transform: scale(1.1);
}
.navbtn{
    display: none;
}



/*Home Section*/
#home{
    height: 82vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 2%;
    overflow-y: hidden;
}
.intro{
    height: 83vh;
    width: 50vw;
    background-color: #000000;
    margin-top: 8rem;
    margin-left:4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    

}
#hi{
    font-size: 5rem;
    font-family: orbitron;
    font-weight: 900;
    color: white;
}
#name{
    color: #00ffff;
    font-family: orbitron;
}
#heding1{
    font-size: 2.5rem;
    font-family: sans-serif;
    color: white;
}
#heding2{
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
}
.button{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(0, 0, 0);
}
.button a{
    height: 100%;
    width: rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-right: 1rem;
    
}

#btn_1{
    background-color: #00ffff;
    color: white;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #e8ecec71;
    outline:none;
    transition: all 0.30s ease;
    margin-left: 1rem;
    cursor: pointer;

}
#btn_1:hover{
    box-shadow: 0 0 15px #00ffff,
    inset 0 0 10px #00ffff;
    text-shadow: 0 0 10px #fff;
}
#btn_2{
    background-color: transparent;
    color: #00ffff;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    outline:none;
    border-radius: 10px;
    border: 2px solid #00ffff;
    margin-left: 4rem;
    transition: all 0.30s ease;
    cursor: pointer;
}
#btn_2:hover{
    box-shadow: 0 0 15px #00ffff,
    inset 0 0 10px #00ffff;
    text-shadow: 0 0 10px #00ffff;
}
.icon{
    height: 7%;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 2vw;
    margin-top: 4px;
    
}
.linkedin{
    margin-left: 1rem;
    color: #ffffff;
    font-size: 2rem;
    transition: all 0.30s ease;
    

}
.linkedin:hover {
      color: #00ffff;
      transform: scale(1.1); 
      text-shadow: 0 0 5px #00ffff;
}
.github{
    color: #ffffff;
    font-size: 2rem;
    transition: all 0.30s ease;
}
.github:hover {
    color: #00ffff;
    transform: scale(1.1); /* zoom in */
    text-shadow: 0 0 5px #00ffff;
}
.mail{
    color: #ffffff;
    font-size: 2rem;
    transition: all 0.30s ease;
}
.mail:hover {
    color: #00ffff;
    transform: scale(1.1); /* zoom in */
    text-shadow: 0 0 5px rgb#00ffff;
}
/*profile pic section*/
.pic-box{
    height: 26vw;
    width: 26vw;
    background-color: rgb(0, 0, 0);
    margin: 5rem 8rem 2rem 0rem;
    display: flex;
    overflow: hidden;
    justify-content:center;
    align-items: center;
    border-radius: 60% ;
    border: 2px solid #00FFFF;
    box-shadow: 0 0 15px #00FFFF;
    animation: shadow 2s infinite alternate; 
    transition: all 0.30s ease-in-out;
    
}
@keyframes shadow{
    from{
        box-shadow: 0 0 15px 2px #00FFFF;
    }
    to{
        box-shadow: 0 0 60px 10px #00FFFF;
    }
}
.pic-box:hover{
    transform: scale(1.1);
}
.pic-box1{
        display: none;
    }

/*div1 arrow Section*/

.div1{
    background-color: rgb(0, 0, 0);
    height: 14vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

#arrow-box{ 
    color: rgb(252, 252, 252);
    background:transparent;
    font-size: 20px;
    height: 9vh;
    width: 1.5rem;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 30px;
    animation: arrow-box 2s infinite;
    box-shadow: 0 0 5px #fcfcfc,
    inset 0 0 px #fcfcfc;
    margin-bottom: 5px;
    
    
}
#arrow-box:hover{
    box-shadow: 0 0 10px #00FFFF,
    inset 0 0 5px #00FFFF;
    color: #00FFFF;
    text-shadow: 0 0 5px #00FFFF;
    
}
#arrow{
    text-decoration: none;
    color: white;
}
#arrow:hover{
     
    color: #00FFFF;
    text-shadow: 0 0 5px #00FFFF;
}
@keyframes arrow-box{
    0%,20%,50%,80%,100%{
        transform: translateY(0);
    }40%{
        transform: translateY(-30px);
    }60%{
        transform: translateY(-15px);
    }
}
@media(max-width: 1300px){
    .intro{
        width: 60vw;
    }
    .intro h1{
        
        
        font-size: 3rem;
    }
    .pic-box{
        margin-right: 5rem;
        height: 28vw;
        width: 28vw;
    }
    .pic-box1{
        display: none;
    }
    
}
@media(max-width: 1130px){
    #home{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .intro{
        width: 100%;
        height: 100%;
        margin-top:2.5rem ;
        margin-left: 0%;
        background-color: #000000;
    }
    .intro h1{
        background-color: rgb(0, 0, 0);
        height: auto;
        width: 100vw;
        font-size: 3rem;
        text-align: center;
        line-height: 5rem;
    
    }
    .br{
        display: none;
    }
    #heding1{
        background-color: rgb(0, 0, 0);
        width: 100vw;
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
    }
    #heding2{
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:2rem;
        background-color: rgb(0, 0, 0);
        
    }
    .icon{
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:4rem;
        padding-top: 5px 5px;
        margin: 0px 0px 10px;
        
        
    }
    
    .pic-box{
        display: none;
        
        
    }
    
    .pic-box1{
        width: 100%;
        height: 40%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 10px;
    }
    .pic-box2{
    height: 28vh;
    width: 28vh;
    background-color: rgb(0, 0, 0);
   
    display: flex;
    overflow: hidden;
    justify-content:center;
    align-items: center;
    border-radius: 60% ; 
    border: 2px solid #00FFFF;
    box-shadow: 0 0 15px #00FFFF;
    animation: shadow2 2s infinite alternate; 
    transition: all 0.30s ease-in-out;
    
}
@keyframes shadow2{
    from{
        box-shadow: 0 0 10px 1px #00FFFF;
    }
    to{
        box-shadow: 0 0 30px 5px #00FFFF;
    }
}
.pic-box2:hover{
    transform: scale(1.1);
}

    .div1{
        display: none;
    }
}


/*About Section*/
#about{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    
    
}
.abt_title{
    height: 27%;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.abt_title h1{
    font-size: 3.5rem;
    color: white;
    font-family: orbitron;

}
.abt_title h1 span{
    color: #00FFFF;
}
#short_des{
 text-align: center;
 font-size: 1.3rem;
 font-family: sans-serif;
 margin-top: 5px;
color: white;
}
.abt_sec{
    background-color: rgb(0, 0, 0);
    height: 73%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#abt_sec1{
    height: 95%;
    width: 45%;
    margin-left: 4vw;
    background-color: rgb(0, 0, 0);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

#abt_sec2{
    
    height: 95%;
    width: 45%;
    margin-right: 4vw;
    background-color: rgb(0, 0, 0);
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
#abt_sec2 i{
    font-size: 1.5rem;
    color: #00FFFF;
    
}
#abt_sec2 h3:hover{
    transform: scale(1.1); /* zoom in */
      text-shadow: 0 0 3px #00FFFF;
}
#abt_sec2 h3{
    font-size: 1.6rem;
    color: white;
    margin-left: 1rem;
    transition: all 0.30s ease-in-out;
}
#abt_sec2 p{
    font-size: 1.1rem;
    font-family: sans-serif;
    color: white;
    margin-top: 5px;
    margin-left: 3.5rem;
}
#sec{
    height: 20%;
    width: 95%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(106, 146, 167, 0.4);
    
   
}

    
    

/*Skills section*/
#skill{
    height: 99vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    
}
#skill h1{
    height: 22vh;
    font-size: 3.5rem;
    color: white;
    font-family: orbitron;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: end;
}
#skill h1 span{
    color: #00FFFF;
}
#skill p{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1.3rem;
    font-family: sans-serif;
    color: white;
}
.skills{
    height: 78vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}/*technologies*/
.talent{
    height: 28vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(73, 142, 179, 0.4);
    box-shadow: 0 0 15px #00ffff;
}
.talent h2{
    font-family: orbitron;
    color: #00FFFF;
    font-size: 2rem;
    overflow: hidden;
}
.lang_sec{
  height: 200px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  wra
  gap: 5px;
}
.lang {
  padding: 8px 18px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  font-size: 17px;
  color: #fff;
  transition: 0.3s ease;
  font-family: sans-serif;
}
.lang:hover {
  background: #00c6ff;
  color: #000;
  transform: translateY(-3px);
   box-shadow: 0 0 15px #00ffff;
}
/*---------*/

#contact{
    background-color: rgb(0, 0, 0);
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact h1{
    height: 15%;
    font-size: 3.5rem;
    color: white;
    font-family: orbitron;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact h1 span{
    color: #00FFFF;
}
.para p{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.3rem;
    font-family: sans-serif;
    color: white;
    padding-bottom: 1rem;
    
}
.contacts{
    
    height: 50%;
    width: 45%;
    margin-right: 4vw;
    background-color: rgb(0, 0, 0);
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
#cont{
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(106, 146, 167, 0.4);
}
#cont h3 i{
    color: rgba(125, 147, 159, 0.4);
    font-size: 13px;
    margin-left: 1rem;
    padding-top: 15px;
}

#cont h3{
    color: rgba(106, 146, 167, 0.4);
    font-size: 15px;
    margin-left: 1rem;
}
#cont p{
    color: white;
    margin-left: 2rem;
}
footer{
    height: 10vh;
    width: 100vw;
    background-color: rgba(29, 26, 26, 0.811);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i{
    
    color: white;
}
footer p{
    font-family: sans-serif;
    font-size: 1rem;
    color: white;
}
@media(max-width: 900px){
    .nav-ele{
        display: none;
    }
    .navbtn{
    display: block;
}

    /* Nav Bar Button */
/* Hamburger Button */
  .menu-btn {
    
    position: fixed;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-btn span {
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 4px;
    transition: 0.4s;
  }

  /* Transform into X */
  .menu-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .menu-btn.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  /* Sidebar */
  #sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.4s ease;
    z-index: 1000;
    padding-top: 80px;
    
  }

  #sidebar.active {
    right: 0;
  }

  #sidebar ul {
    list-style: none;
    padding: 0;
  }

  #sidebar ul li {
    padding: 15px 25px;
  }

  #sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: Science Gothic;
    transition: all 0.30s ease-in-out;
    }
  #sidebar ul li a:hover{
    color: #00ffff;
    text-decoration: underline;
    transform: scale(1.1);
}

  /* Overlay */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 900;
  }

  #overlay.active {
    display: block;
  }
  #skill{
    height: 150vh;
  }
  .skills{
    height: 100%;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
.talent{
    width: 50%;
}
  
}



